.good {
  &__title {
    padding-left: 33px;
  }
  &__wrapper {
    position: relative;
    padding: 0 25px 0 35px;
  }
  &__structure {
    position: relative;
    width: 150px;
    margin-left: auto;
    padding-top: 24px;
    z-index: 10;
  }
  &__image {
    position: absolute;
    top: 29px;
    left: 43px;
  }
  &__table {
    width: 100%;
    border: 1px solid $innovation-devider-color;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: $font-size;
    line-height: 41px;
    color: $text-color--darker;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 11px;
    padding-top: 49px;
    td {
      padding-left: 10px;
      border: 1px solid $innovation-devider-color;
    }
  }
  &__text {
    font-size: $font-size--small;
    line-height: $line-height--24;
  }
  &__description {
    padding: 0 25px 0 35px;
    margin-top: 332px;
  }
  &__actions {
    margin-top: 58px;
    padding-left: 33px;
  }
  &__button-more {
    background-color: white;
    color: $text-color-button-more;
    width: 102px;
    margin-right: 7px;
    float: left;
  }
  &__button-buy {
    float: left;
    margin-right: 25px;
  }
  &__price {
    margin-top: 11px;
    float: left;
  }
}
