.innovation {
  background-color: $background-color;
  padding-top: 80px;
  &__items {
    margin-top: 74px;
  }
  &__item {
    float: left;
    width: 398px;
    border-left: 1px solid $innovation-devider-color;
    border-right: 1px solid $innovation-devider-color;
  }
  &__item:nth-child(2n) {
    border-left: none;
  }
}
