$background-color: white;
$background-header: black;
$background-advantage: #ffcb78;
$background-press: #ede5d8;
$background-order: #ffcb78;
$background-footer: black;

$text-color--darker: black;
$text-color: #404040;
$text-color--lighter: #989898;
$menu-text-color: white;
$header-message-color: white;

$font-size: 16px;
$font-size--small: 14px;
$font-size--mini: 11px;
$font-size--h1: 70px;
$font-size--h2: 40px;
$font-size--h3: 40px;
